{% extends "admin_custom/base.html" %}
{% load static %}
{% block content %}
<form method="post" action="{% url 'choose_users' %}" id="filterForm">
    {% csrf_token %}
    <div id="user-filter" style="float: right; margin-right: 300px;">
        <table>
            <thead>
                <tr>
                    <th><h3>Фильтр</h3></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="username_filter" placeholder="Введите имя пользователя" style="width: 190px;">
                        <button type="submit" formaction="{% url 'broadcast_users' %}">Применить фильтр</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="broadcast_filter" placeholder="Введите название рассылки" style="width: 190px;">
                        <button type="submit" formaction="{% url 'broadcast_users' %}">Применить фильтр</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="button_filter" placeholder="Введите название кнопки" style="width: 190px;">
                        <button type="submit" formaction="{% url 'broadcast_users' %}">Применить фильтр</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" formaction="{% url 'broadcast_users' %}" name="blocked">Blocked Users</button>
                        <button type="submit" formaction="{% url 'broadcast_users' %}" name="not_blocked">Not blocked Users</button>
                    </td>
                </tr>
                <tr>
                    <td><button type="button" id="resetFilters">Сбросить все фильтры</button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-left: 60px;">
    <table>
        <thead>
            <tr>
                <th></th>
                <th style="width: 200px;"><h3>Пользователи</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for user in page_obj %}
                <tr>
                    <td><input type="checkbox" name="selected_users" value="{{ user.id }}" {% if user.id in selected_user_ids %}checked{% endif %}></td>
                    <td><label>{{ user.name }}</label></td>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Выбрать</button>
</form>

<script>
    document.getElementById('resetFilters').addEventListener('click', function() {
        var form = document.getElementById('filterForm');
        form.action = '{% url "choose_users" %}';
        form.method = 'get';

        form.submit();
    });
</script>
{% include 'admin_custom/includes/paginator.html' %}
{% endblock %}
