{% extends "admin_custom/base.html" %}
{% load static %}
{% block content %}
  <form id="template" method="post" action="{% url 'broadcast_templates' %}">
    {% csrf_token %}
    <div style="margin-left: 60px;">
      <table>
        <thead>
          <tr>
            <th colspan="3"><h1>Шаблоны</h1></th>
          </tr>
          <tr>
            <th></th>
            <th style="width: 200px;">Название</th>
            <th style="width: 400px;">Текст</th>
          </tr>
        </thead>
        <tbody>
          {% for template in page_obj %}
            <tr>
              <td>
                <input type="radio" name="selected_template" value="{{ template.id }}">
              </td>
              <td>{{ template.name }}</td>
              <td> {{ template.text }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="Выбрать" name="submit">
    </div>
  </form>
  <div style="margin-left: 30px;">
    {% include 'admin_custom/includes/paginator.html' %}
  </div>
  <script>
    window.addEventListener('unload', function() {
        window.opener.location.reload();
    });
  </script>
{% endblock %}
