{% extends "admin_custom/base.html" %}
{% load static %}
{% block content %}
<div style="margin-left: auto; margin-right: auto; width: 1200px;">
  <table>
    <thead>
      <tr>
        <th colspan="3"><h1>Рассылки для {{ user.name }}</h1></th>
      </tr>
      <tr>
        <th style="width: 300px;"><h4>Название рассылки</h4></th>
        <th style="width: 600px;"><h4>Текст рассылки</h4></th>
        <th style="width: 200px;"><h4>Нажатые кнопки</h4></th>
      </tr>
    </thead>
    <tbody>
      {% for post in page_obj %}
        <tr>
          <td>{{ post.name }}</td>
          <td>{{ post.text }}</td>
          <td>
            {% for button in buttons %}
              {% if button.broadcast_message == post %}
                <button>{{ button.button.name }} - {{ button.count }} раз</button>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div style="margin-left: 90px;">
  {% include 'admin_custom/includes/paginator.html' %}
</div>
{% endblock %}
