{% extends "admin_custom/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="column">
        <h1 class="user">Пользователь: {{ user.name }}</h1>
    </div>
    <div class="column">
        <h2 class="model">Рассылки</h2>
        <ul>
            {% for post in posts %}
                <li>
                    <div class="content">
                        <div class="text">
                            <h3>Название рассылки: {{ post.name }}</h3>
                            <p>Текст рассылки: {{ post.text }}</p>
                        </div>
                        <div class="buttons">
                            Нажатые кнопки:
                            {% for button in buttons %}
                                {% if button.broadcast_message == post %}
                                    <button>{{ button.button.name }} - {{ button.count }} раз</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
